@import './reset';
@import './variables/global';
@import './theme/light';
@import './theme/dark';

.app {
  height: 100vh;
  color: var(--color-text);
  background-color: var(--bg-main);
  font: var(--font-m);
  transition: all 0.3s;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--color-link-hover);
  }
}
