@import './reset.scss';

@import './variables/global.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

.app {
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);

  font: var(--font-m);

  transition: all 0.3s;
}

a {
  color: var(--link-color);
  text-decoration: none;

  transition: all 0.3s;

  &:hover {
    color: var(--link-hover-color);
  }
}

button {
  padding: 3px 10px;
  color: var(--button-color);
  background-color: var(--bg-button-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  transition: all 0.3s;

  &:hover {
    color: var(--button-hover-color);
    background-color: var(--bg-button-hover-color);
  }
}
