@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font: var(--font-m);
  transition: all 0.3s;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--link-hover-color);
  }
}

.page-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
