:root {
  --font-family: 'Segoe UI', arial, sans-serif;

  // font sizes
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;

  // font lines
  --font-line-s: 1.2;
  --font-line-m: 1.2;
  --font-line-l: 1.2;

  // fonts
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family);
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family);

  // radiuses
  --border-radius-button: 5px;
  --border-radius-field: 5px;
  --border-radius-section: 7px;
  --border-radius-modal: 7px;

  // heights
  --navbar-height: 40px;

  // widths
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 60px;

  // layers
  --z-index-modal: 1000;
}
