{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "airbnb-typescript", "plugin:i18next/recommended"],
  "overrides": [
    {
      "files": ["**/src/**/*.test.{ts,tsx}"],
      "rules": {
        "i18next/no-literal-string": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "@typescript-eslint", "i18next"],
  "rules": {
    "indent": [2, 2],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "arrow-parens": [2, "as-needed"],
    "react/require-default-props": "off",
    "react/no-array-index-key": "warn",
    "react/button-has-type": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "multiline": true, "minProperties": 5, "consistent": true },
        "ObjectPattern": { "multiline": true, "minProperties": 5, "consistent": true },
        "ImportDeclaration": { "multiline": true, "minProperties": 5, "consistent": true },
        "ExportDeclaration": { "multiline": true, "minProperties": 5, "consistent": true }
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "arrow-body-style": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "_",
        "destructuredArrayIgnorePattern": "_",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/tests/**",
          "**/*.test.ts",
          "**/*.test.tsx",
          "**/*.spec.ts",
          "**/*.config.ts"
        ]
      }
    ],
    "react/jsx-closing-bracket-location": [
      1,
      { "selfClosing": "tag-aligned", "nonEmpty": "after-props" }
    ],
    "implicit-arrow-linebreak": "off",
    "i18next/no-literal-string": ["error", { "markupOnly": true }]
  }
}
