.page-wrapper {
  max-width: 900px;
  margin-left: max(0px, calc(100vw - 900px) / 2 - var(--sidebar-width));
  transition: margin 0.3s cubic-bezier(0.67, 0.02, 0.39, 0.98);
}

.sidebar-collapsed {
  margin-left: max(0px, calc(100vw - 900px) / 2 - var(--sidebar-width-collapsed));
}
