.sidebar {
  height: calc(100vh - var(--navbar-height) - 10px);
  position: fixed;
  left: 5px;
  top: calc(var(--navbar-height) + 5px);
  width: var(--sidebar-width);
  background-color: var(--bg-panel);
  border-radius: var(--border-radius);
  z-index: 9999;
  transition: width 0.3s cubic-bezier(0.67, 0.02, 0.39, 0.98), color 0.3s linear;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.sidebar-menu {
  overflow: hidden;
  margin: 40px 10px 0;
}

.sidebar-menu-link {
  display: block;
  width: 100%;
}

.collapse-button {
  width: 29px;
  height: 29px;
  position: absolute;
  right: -15px;
  top: 10px;
  padding: 5px;
  border: 2px solid var(--bg-main);
  border-radius: 50%;
}

.bar {
  --animation-transition: 500ms;

  position: relative;
  transition: all 0ms var(--animation-transition);

  &,
  &::before,
  &::after {
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    background: var(--color-button-primary);
    border: none;
    border-radius: 1px;
  }

  &.animate {
    background: rgb(255 255 255 / 0%);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    transition:
      bottom var(--animation-transition) var(--animation-transition)
      cubic-bezier(0.23, 1, 0.32, 1),
      transform var(--animation-transition) cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    transition:
      top var(--animation-transition) var(--animation-transition)
      cubic-bezier(0.23, 1, 0.32, 1),
      transform var(--animation-transition) cubic-bezier(0.23, 1, 0.32, 1);
  }

  &.animate::after {
    top: 0;
    transform: rotate(45deg);
    transition:
      top var(--animation-transition) cubic-bezier(0.23, 1, 0.32, 1),
      transform var(--animation-transition) var(--animation-transition)
      cubic-bezier(0.23, 1, 0.32, 1);
  }

  &.animate::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition:
      bottom var(--animation-transition) cubic-bezier(0.23, 1, 0.32, 1),
      transform var(--animation-transition) var(--animation-transition)
      cubic-bezier(0.23, 1, 0.32, 1);
  }
}
