.grid {
  .image {
    display: block;
    max-width: 275px;
    max-height: 150px;
    width: 275px;
    height: 150px;
    object-fit: cover;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }

  .date,
  .views {
    display: flex;
    gap: 2px;
    align-items: center;
  }

  .title {
    padding: 0 5px;
  }

  .skeleton-image {
    width: 200px;
    height: 150px;
  }

  .skeleton-date {
    width: 60px;
    height: 16px;
    border-radius: 8px;
  }

  .skeleton-views {
    width: 40px;
    height: 16px;
    border-radius: 8px;
  }

  .skeleton-row {
    width: 90%;
    height: 16px;
    margin: 0 5px;
    border-radius: 8px;
  }
}

.link-card {
  text-decoration: none;
  color: var(--text-primary);

  &:active,
  &:focus,
  &:hover {
    color: var(--text-primary);
  }
}

.list {
  padding: 5px 0;

  .header {
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .image {
    display: block;
    max-width: 300px;
    max-height: 150px;
    width: 300px;
    height: 150px;
    object-fit: cover;
  }

  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }

  .date,
  .views {
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 5px;
  }

  .description {
    position: relative;
    padding: 5px;
    flex-grow: 1;
    max-height: 150px;
    height: 150px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 15px;
      background: linear-gradient(to top, var(--bg-section), transparent);
    }
  }

  .title {
    padding: 5px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }

  .skeleton-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .skeleton-author {
    width: 200px;
    height: 20px;
    border-radius: 10px;
  }

  .skeleton-date {
    width: 60px;
    height: 16px;
    border-radius: 8px;
  }

  .skeleton-views {
    width: 40px;
    height: 16px;
    border-radius: 8px;
  }

  .skeleton-title {
    width: 90%;
    height: 20px;
    margin: 0 5px;
    border-radius: 10px;
  }

  .skeleton-row {
    width: 100%;
    height: 16px;
    margin-bottom: 5px;
    border-radius: 8px;
  }
}
