.card {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-section);
  background-color: var(--bg-section);
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}
