.app.light {
  --text-color: darkslategray;
  --link-color: darkslateblue;
  --link-hover-color: #685dab;

  --bg-color: lightgray;

  --button-color: darkslategray;
  --button-hover-color: #0f2f2f;
  --bg-button-color: transparent;
  --bg-button-hover-color: gray;

  --border-color: darkslategray;
  --border-radius: 5px;
}
