.article-code-block {
  position: relative;
  padding: 10px 20px;
  background-color: var(--bg-main);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-section);
  overflow: auto;
}

.copy-button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: var(--color-main);
  border: none;
  border-radius: var(--border-radius-button);
  padding: 5px;
  color: var(--color-text);
  font-size: var(--font-size-s);
  cursor: pointer;
}
