.app.dark {
  --text-color: lightgray;
  --link-color: darkslateblue;
  --link-hover-color: #281d6b;

  --bg-color: gray;
  --inverted-bg-color: lightgray;

  --button-color: lightgray;
  --button-hover-color: #f4f4f4;
  --bg-button-color: transparent;
  --bg-button-hover-color: lightgray;

  --border-color: darkslategray;
  --border-radius: 5px;
}
