.horizontal-menu {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;

  .element {
    display: flex;
    align-items: center;
  }
  .element:not(:last-child):after {
    content: '|';
    color: var(--border-color);
  }
}
