button {
  padding: 3px 10px;
  color: var(--color-button-default);
  background-color: var(--bg-button);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--button-color-hover);
    background-color: var(--bg-button-hover);
  }
}

.transparent {
  border-color: transparent;
  background: transparent;
}

.app-link {
  color: var(--color-link);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s;

  &:hover {
    color: var(--color-link-hover);
  }
}

.primary {
  color: var(--color-button-primary);
  border-color: var(--bg-button-primary);
  background: var(--bg-button-primary);
}
