.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 5px 0;
  background-color: var(--bg-menu-color);

  .wrapper {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }

  .left-margin-auto {
    margin-left: auto;
  }
}
