.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);

  .wrapper {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
}

.margin-left-auto {
  margin-left: auto;
}
