.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 5px 0;
  background-color: var(--bg-menu-color);

  .wrapper {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    margin-left: max(var(--sidebar-width), calc(100vw - 900px) / 2);
    transition: margin 0.3s cubic-bezier(0.67, 0.02, 0.39, 0.98);
  }

  .collapsed {
    margin-left: max(var(--sidebar-width-collapsed), calc(100vw - 900px) / 2);
  }

  .left-margin-auto {
    margin-left: auto;
  }
}
