.counter {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.button {
  padding: 5px 10px;
  font-family: inherit;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 7px;

  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #ddd;
    transform: scale(0.97);
  }
}
