.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  position: relative;
}

.field-name {
  position: absolute;
  top: -7px;
  left: 10px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 1;
  background-color: var(--bg-panel);
}

.button {
  margin-left: auto;
}

.error-message {
  margin: 0 20px;
  color: var(--color-error);
  font-size: var(--font-size-s);
  line-height: 1;
}
