.text-block {
  & > h1 {
    font-size: 1.4em;
  }

  & > h2 {
    font-size: 1.2em;
  }

  & > h3 {
    font-size: 1.1em;
  }

  & > h4,
  & > h5,
  & > h6 {
    font-size: 1em;
  }
}

.header {
  color: var(--color-header);
  margin: 0;
}

.paragraph {
  margin: 0;
  line-height: normal;
}

.header + .paragraph {
  margin-top: 10px;
}

.form {
  font-size: var(--font-size-m);
  line-height: 1;
}

.error-message {
  margin: 0 20px;
  line-height: 1;

  & > .header {
    color: var(--color-error);
    font-size: var(--font-size-s);
  }

  & > .paragraph {
    color: var(--color-error);
    margin: 0;
    font-size: var(--font-size-s);
  }
}

.small {
  font-size: var(--font-size-s);
}

.medium {
  font-size: var(--font-size-m);
}

.large {
  font-size: var(--font-size-l);
}
