.header {
  color: var(--color-header);
  margin-top: 0;
}

.paragraph {
  color: var(--color-text);
}

.form {
  font-size: var(--font-size-m);
  line-height: 1;

  & .header {
    font-size: var(--font-size-m);
  }

  & .paragraph {
    font-size: var(--font-size-m);
  }
}

.error-message {
  margin: 0 20px;
  font-size: var(--font-size-s);
  line-height: 1;

  & .header {
    color: var(--color-error);
    font-size: var(--font-size-s);
    margin: 0;
  }

  & .paragraph {
    color: var(--color-error);
    margin: 0;
  }

  &.small {
    font-size: var(--font-size-s);

    & > .header {
      font-size: var(--font-size-s);
    }
  }

  &.medium {
    font-size: var(--font-size-m);

    & > .header {
      font-size: var(--font-size-m);
    }
  }

  &.large {
    font-size: var(--font-size-l);

    & > .header {
      font-size: var(--font-size-l);
    }
  }
}
